In [1]:
import pandas as pd 
import numpy as np

In [2]:
Migrants = pd.read_csv('../data/' + 'Data_Migrants.csv')

In [3]:
table1 =pd.pivot_table(Migrants, values='Number Dead', index=['Cause of Death'], columns=['Reported Year'], aggfunc={'Number Dead': np.mean})
table1.head(10)

Reported Year                    2014  2015      2016  2017       2018  2019
Cause of Death
Accident (non-vehicle)            NaN   NaN  1.000000   NaN        NaN   NaN
Asphyxiation                      1.0   NaN  9.857143   NaN   1.000000   NaN
Asphyxiation, Drowning            NaN   NaN  3.000000   NaN        NaN   NaN
Attacked by Apache helicopter     NaN   NaN       NaN  42.0        NaN   NaN
Burned                            2.0   NaN  4.000000  10.0        NaN   NaN
Burned, Drowning                  NaN  17.0       NaN   NaN        NaN   NaN
Bus fire                          NaN   NaN       NaN   NaN  52.000000   NaN
Cardiac arrest                    NaN   1.0  1.000000   NaN   1.142857   1.0
Cervical cancer                   NaN   NaN  1.000000   NaN        NaN   NaN
Coronary artery atherosclerosis   NaN   NaN       NaN   NaN   1.000000   NaN

In [6]:
Migrants[ ['Number Dead', 'Cause of Death']].head(10)

   Number Dead              Cause of Death
0          NaN           Presumed drowning
1          4.0           Presumed drowning
2          1.0           Presumed drowning
3          1.0           Presumed drowning
4          1.0             Fall from train
5          1.0  Unknown (skeletal remains)
6          1.0  Unknown (skeletal remains)
7          8.0            Vehicle Accident
8          4.0           Presumed drowning
9          1.0  Unknown (skeletal remains)

In [7]:
table_sum=Migrants.groupby('Cause of Death')['Number Dead'].sum()
table_sum1=pd.DataFrame(table_sum)
table_sum1.head(10)

                                 Number Dead
Cause of Death
Accident (non-vehicle)                   3.0
Asphyxiation                            73.0
Asphyxiation, Drowning                   3.0
Attacked by Apache helicopter           42.0
Burned                                  16.0
Burned, Drowning                        17.0
Bus fire                                52.0
Cardiac arrest                          20.0
Cervical cancer                          1.0
Coronary artery atherosclerosis          1.0

In [13]:
table_cause=table_sum1.sort_values('Number Dead', ascending=False)
Cause_top=table_cause.head(10)
Cause_top

                                          Number Dead
Cause of Death
Drowning                                       6227.0
Sickness and lack of access to medicines       1742.0
Vehicle Accident                               1208.0
Unknown                                        1189.0
Presumed drowning                               963.0
Mixed                                           726.0
Unknown (skeletal remains)                      474.0
Shot                                            391.0
Dehydration                                     347.0
Starvation                                      330.0

In [9]:
pip install pyecharts

Requirement already satisfied: pyecharts in /anaconda3/lib/python3.7/site-packages (0.1.9.4)
Requirement already satisfied: future in /anaconda3/lib/python3.7/site-packages (from pyecharts) (0.17.1)
Requirement already satisfied: pillow in /anaconda3/lib/python3.7/site-packages (from pyecharts) (6.1.0)
Requirement already satisfied: jinja2 in /anaconda3/lib/python3.7/site-packages (from pyecharts) (2.10.1)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/lib/python3.7/site-packages (from jinja2->pyecharts) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pyecharts
from pyecharts import Funnel

In [7]:
attr =["Drowning", "Sickness and lack of a access to medicines", "Vehicle Accident", "Unknow", "Presumed drowning", "Mixed","Unknown(skeletal remains)", "Shot", "Dehydration", "Stavation"]
values =[6227, 1742, 1208, 1189, 963, 726, 474, 391, 347, 330]
print(attr)
print(values)
funnel1 = Funnel('Cause--Number Dead', title_pos='center')
funnel1.add(name='Cause of Death',  # name of the fig
            attr=attr,  
            value=values,  
            is_label_show=True,  # make sure of the abbel
            label_formatter='{c}'+'%',  # set up the function
            legend_top='bottom',    # set up the position
          
            label_pos='outside',  
            legend_orient='vertical',  
            legend_pos='right')  

funnel1.render()

['Drowning', 'Sickness and lack of a access to medicines', 'Vehicle Accident', 'Unknow', 'Presumed drowning', 'Mixed', 'Unknown(skeletal remains)', 'Shot', 'Dehydration', 'Stavation']
[6227, 1742, 1208, 1189, 963, 726, 474, 391, 347, 330]